<div class="container my-5">
    <div class="mx-auto mw-50" style="max-width: 700px;">
        <h3 class="text-center">
            @if(this.currentRoute == "create"){
            Створити волонтерську групу
            }
            @else {
            Редагувати волонтерську групу
            }
        </h3>
        @if((this.isGroupLoaded && !this.isLoadingFailed) || this.currentRoute == "create")
        {
        <form [formGroup]="volunteerGroupForm" class="d-flex flex-column w-100" (ngSubmit)="this.onSubmit()">

            <div class="form-group mt-3 text-start">
                <label class="h5" for="title">Заголовок *</label>
                <input id="title" type="text" class="form-control" placeholder="Заголовок" formControlName="title" />
                @if(title?.touched && title?.errors)
                {
                <div class="form-error-display">
                    <div *ngIf="title?.errors?.['required']" class="text-custom-light-red">Загаловок є
                        обов’язковим.</div>
                    <div *ngIf="title?.errors?.['maxlength']" class="text-custom-light-red">Заголовок не може
                        бути довшим
                        за 200
                        символів.</div>
                </div>
                }
            </div>

            <div class="form-group mt-3 text-start">
                <label class="h5" for="descriptionContent">Опис *</label>
                <textarea id="descriptionContent" class="form-control" placeholder="Опис групи"
                    formControlName="descriptionContent"></textarea>
                @if(descriptionContent?.touched && descriptionContent?.errors)
                {
                <div class="form-error-display">
                    <div *ngIf="descriptionContent?.errors?.['required']" class="text-custom-light-red">Опис є
                        обов’язковим.</div>
                    <div *ngIf="descriptionContent?.errors?.['maxlength']" class="text-custom-light-red">Опис не може
                        бути довшим
                        за 4096
                        символів.</div>
                </div>
                }
            </div>

            @if(this.isFormSubmitted)
            {
            @if(resultSuccess == null) {
            <img src="assets/gif/loading.gif" width="75em" style="margin-left: auto; margin-right: auto;">
            }
            @else if(!resultSuccess) {
            <div class="bg-custom-dark-red text-custom-light-red p-3 fw-normal form-error-display">
                Виникла помилка під час {{(this.currentRoute == "create") ? "створення" : "редагування"}} волонтерської
                групи.
            </div>
            }
            @else {
            <div class="bg-custom-pale-green text-custom-lightest p-3 fw-normal form-success-display">
                <div class="text-start fs-5"> Волонтерську групу {{(this.currentRoute == "create") ? "створено" :
                    "редаговано"}}.</div>
                @for (item of this.submitErrorResult; track $index)
                {
                <div class="text-start">{{item}}</div>
                }
            </div>
            }
            }

            <div class="d-flex justify-content-between mt-4 gap-2 w-100">
                <button class="btn btn-custom-green w-100" type="submit"
                    [disabled]="volunteerGroupForm.invalid || volunteerGroupForm.pending || (this.isFormSubmitted && this.resultSuccess == null)">
                    @if(this.currentRoute ==
                    "create")
                    {
                    Створити
                    }
                    @else {
                    Редагувати
                    }</button>
                <button class="btn btn-custom-danger w-100" type="button" (click)="this.onCancel()">Скасувати</button>
            </div>
        </form>
        }
        @else if(this.isLoadingFailed)
        {
        <div class="bg-custom-dark-red text-custom-light-red p-3 fw-normal fs-4 form-success-display">
            Волонтерську групу не було знайдено!
        </div>
        }
        @else {
        <img src="assets/gif/loading.gif" width="100em" style="margin-left: auto; margin-right: auto;">
        }
    </div>
</div>