<h3 class="text-start text-custom-pale-yellow">Адрес</h3>
<div class="pb-4 text-start ms-4">
    <ul class="list-unstyled">
        <li class="lh-lg fw-normal text-start fs-5"><i class="fa-solid fa-earth-europe"></i> Країна:
            {{this.address.country}}</li>
        <li class="lh-lg fw-normal text-start fs-5"><i class="fa-solid fa-landmark"></i> Регіон / Область:
            {{this.address.region}}</li>
        <li class="lh-lg fw-normal text-start fs-5"><i class="fa-solid fa-user-group"></i> Громада:
            {{this.address.district}}</li>
        <li class="lh-lg fw-normal text-start fs-5"><i class="fa-solid fa-city"></i> Село / Місто:
            {{this.address.settlement}}</li>
        <li class="lh-lg fw-normal text-start fs-5"><i class="fa-solid fa-location-dot"></i> Вулиця:
            {{this.address.street}}</li>
        <li class="lh-lg fw-normal text-start fs-5"><i class="fa-regular fa-envelope"></i> Поштовий індекс:
            {{this.address.postalCode}}
        </li>
    </ul>
</div>