<div class="container my-5">
  <div class="mx-auto mw-50" style="max-width: 400px;">
    <h3 class="text-center">Реєстрація</h3>
    <form [formGroup]="registerForm" class="d-flex flex-column w-100" (ngSubmit)="onSubmit()">

      <div class="form-group mt-3 text-start">
        <label class="h5" for="firstName">Імʼя *</label>
        <input id="firstName" type="text" class="form-control" placeholder="Імʼя" formControlName="firstName" />
        @if(firstName?.touched && firstName?.errors)
        {
        <div class="form-error-display">
          <div *ngIf="firstName?.errors?.['required']" class="text-custom-light-red">Ім’я є обов’язковим.</div>
          <div *ngIf="firstName?.errors?.['maxlength']" class="text-custom-light-red">Ім’я не може бути довшим за 100
            символів.</div>
        </div>
        }
      </div>

      <div class="form-group mt-3 text-start">
        <label class="h5" for="lastName">Прізвище *</label>
        <input id="lastName" type="text" class="form-control" placeholder="Прізвище" formControlName="lastName" />
        @if(lastName?.touched && lastName?.errors)
        {
        <div class="form-error-display">
          <div *ngIf="lastName?.errors?.['required']" class="text-custom-light-red">Прізвище є обов’язковим.</div>
          <div *ngIf="lastName?.errors?.['maxlength']" class="text-custom-light-red">Прізвище не може бути довшим за
            100
            символів.</div>
        </div>
        }
      </div>

      <div class="form-group mt-3 text-start">
        <label class="h5" for="role">Статус *</label>
        <select id="role" type="text" class="form-control" placeholder="Роль користувача" formControlName="role">
          <option [value]="null">Оберіть статус</option>
          <option [value]="UserRole.MilitaryOrFamily">Військовий, член сім'ї військового</option>
          <option [value]="UserRole.LocalCitizen">Місцевий житель</option>
          <option [value]="UserRole.Volunteer">Волонтер</option>
          <option [value]="UserRole.CommunityAdmin">Адміністратор громади</option>
        </select>
        @if(role?.touched && (role?.value == null || role?.errors))
        {
        <div class="form-error-display">
          <div *ngIf="role?.value == null || role?.errors?.['required']" class="text-custom-light-red">Статус є
            обов’язковим.</div>
        </div>
        }
      </div>

      <div class="form-group mt-3 text-start">
        <label class="h5" for="dateOfBirth">Дата народження *</label>
        <input id="dateOfBirth" type="date" class="form-control" formControlName="dateOfBirth"
          [max]="this.maxDateForBirthday.toISOString().split('T')[0]" min="1920-01-01" />
        @if(dateOfBirth?.touched && (dateOfBirth?.value == null || dateOfBirth?.errors))
        {
        <div class="form-error-display">
          <div *ngIf="dateOfBirth?.value == null || dateOfBirth?.errors?.['required']" class="text-custom-light-red">
            День народження є
            обов’язковим.</div>
          <div *ngIf="dateOfBirth?.errors?.['dateNotInPast']" class="text-custom-light-red">
            Дата повинна бути в минулому.</div>
        </div>
        }
      </div>

      <div class="form-group mt-3 text-start">
        <label class="h5" for="email">Електронна пошта *</label>
        <input id="email" type="email" class="form-control" placeholder="example@email.com" formControlName="email" />
        @if(email?.touched && email?.errors)
        {
        <div class="form-error-display">
          <div *ngIf="email?.errors?.['emailShouldNotExist']" class="text-custom-light-red">Ця пошта вже
            використовується.</div>
          <div *ngIf="email?.errors?.['required']" class="text-custom-light-red">Електронна пошта є обов’язковою.</div>
          <div *ngIf="email?.errors?.['email']" class="text-custom-light-red">Електронна пошта має відповідати
            відповідному формату пошти: example&#64;email.com</div>
          <div *ngIf="email?.errors?.['maxlength']" class="text-custom-light-red">Електронна пошта не може бути довшою
            за 200
            символів.</div>
        </div>
        }
      </div>

      <div class="form-group mt-3 text-start">
        <label class="h5" for="phoneNumber">Номер телефону *</label>
        <input id="phoneNumber" type="tel" class="form-control" placeholder="+380..." formControlName="phoneNumber" />
        @if(phoneNumber?.touched && phoneNumber?.errors)
        {
        <div class="form-error-display">
          <div *ngIf="phoneNumber?.errors?.['phoneNumberShouldNotExist']" class="text-custom-light-red">Цей номер
            телефону вже використовується.</div>
          <div *ngIf="phoneNumber?.errors?.['required']" class="text-custom-light-red">Номер телефону є обов’язковим.
          </div>
          <div *ngIf="phoneNumber?.errors?.['pattern']" class="text-custom-light-red">Номер телефону не віповідає
            правильному формату.
            Може починатися з +, або без нього.
            Перша цифра після + не може бути нулем.
            Має містити від 11 до 15 цифр.</div>
        </div>
        }
      </div>

      <div class="form-group mt-3 text-start">
        <label class="h5" for="district">
          @if(this.role?.value == UserRole.CommunityAdmin)
          {
          Громада *
          }
          @else {
          Громада
          }
        </label>
        <input id="district" type="text" class="form-control" formControlName="district" placeholder="Громада" />
        @if(district?.touched && district?.errors)
        {
        <div class="form-error-display">
          <div *ngIf="district?.errors?.['required']" class="text-custom-light-red">Громада є
            обов’язковою для адміністратора громади.
          </div>
          <div *ngIf="district?.errors?.['maxlength']" class="text-custom-light-red">Назва громади
            не може перевищувати 200 символів.</div>
        </div>
        }
      </div>
      <div class="form-group mt-3 text-start">
        <label class="h5" for="password">Пароль *</label>
        <input id="password" type="password" class="form-control" placeholder="Пароль" formControlName="password" />
        @if(password?.touched && password?.errors)
        {
        <div class="form-error-display">
          <div *ngIf="password?.errors?.['required']" class="text-custom-light-red">Пароль є обов’язковим.
          </div>
          <div *ngIf="password?.errors?.['maxlength']" class="text-custom-light-red">Довжина паролю не має перевищувати
            16 символів.</div>
          <div *ngIf="password?.errors?.['minlength']" class="text-custom-light-red">Довжина паролю не має бути меншою
            за 8 символів.</div>
          <div *ngIf="password?.errors?.['pattern']" class="text-custom-light-red">Пароль не віповідає
            правильному формату, мусить містити хоча би одну: велику букву, маленьку букву, цифру; мусить містити хоч би
            один із наступних символи: (! ? * _ .)</div>
        </div>
        }
      </div>

      <div class="form-group mt-3 text-start">
        <label class="h5" for="confirmPassword">Підтвердіть пароль *</label>
        <input id="confirmPassword" type="password" class="form-control" placeholder="Підтвердіть пароль"
          formControlName="confirmPassword" />
        @if(confirmPassword?.touched && confirmPassword?.errors)
        {
        <div class="form-error-display">
          <div *ngIf="confirmPassword?.errors?.['required']" class="text-custom-light-red">Пароль є обов’язковим.
          </div>
        </div>
        }
      </div>

      @if(registerForm.touched && registerForm.errors?.['passwordsMismatch'])
      {
      <div class="form-error-display text-start">
        <div *ngIf="registerForm.errors?.['passwordsMismatch']" class="text-custom-light-red">Паролі мають співпадати.
        </div>
      </div>
      }


      @if(this.isFormSubmitted)
      {
      @if(resultSuccess == null) {
      <img src="assets/gif/loading.gif" width="75em" style="margin-left: auto; margin-right: auto;">
      }
      @else if(!resultSuccess) {
      <div class="bg-custom-dark-red text-custom-light-red p-3 fw-normal form-error-display">
        <div class="text-start fs-5">Виникла помилка під час реєстрації спробуйте ще раз.</div>
        
        @for (item of this.submitErrorResult; track $index)
        {
        <div class="text-start">{{item}}</div>
        }
      </div>
      }
      @else {
      <div class="bg-custom-pale-green text-custom-lightest p-3 fw-normal form-success-display">Реєстрація пройшла
        успішно, перевірте свою електронну пошту та слідуйте подальшим інструкціям для підтвердження пошти.
      </div>
      }
      }

      <div class="d-flex justify-content-between mt-4 gap-2 w-100">
        <button class="btn btn-custom-green w-100" type="submit"
          [disabled]="registerForm.pending || registerForm.invalid">Зареєструватися</button>
        <button class="btn btn-custom-danger w-100" type="button" (click)="onCancel()">Скасувати</button>
      </div>
    </form>
  </div>
</div>