<div class="container mt-4">
    @if(this.volunteerGroup)
    {
    <h2>Учасники групи '{{this.volunteerGroup.title}}'</h2>
    <div class="row justify-content-md-center mb-4">
        <div class="col-md-8">
            <app-search-bar class="mb-4" placeholder="Ім'я, пошта..."
                [onSearchBarSearch]="this.getOnSearchBarCallback()"></app-search-bar>
        </div>
    </div>

    <div class="row m-2 justify-content-md-center">
        <div class="col-8 d-flex flex-column gap-4 mt-1">
            @if(this.usersLoaded)
            {
            @if(!this.usersFound)
            {
            <span class="error-display">Не було знайдено учасників!</span>
            }
            @else {
            @for (item of this.users; track $index) {
            <app-user-preview [user]="item" [isAllowedToRemove]="this.isAllowedToEditGroup"
                [onUserRemoved]="this.getOnParticipantRemovedCallback()"></app-user-preview>
            }
            <app-paging-navigation [pagesCount]="this.pages" [onNavigationCallback]="getNavigationCallback()"
                [currentPage]="this.currentPage"></app-paging-navigation>
            }
            }
            @else {
            <img src="assets/gif/loading.gif" width="75em" style="margin-left: auto; margin-right: auto;">
            }
        </div>
    </div>
    }
    @else {
        @if(this.groupFoundSuccess == undefined)
        {
            <img src="assets/gif/loading.gif" width="75em" style="margin-left: auto; margin-right: auto;">
        }
        @else if(!this.groupFoundSuccess){
            <span class="error-display">Не було знайдено групу!</span>
        }
    }
</div>