<div class="pb-4 bg-custom-much-darker mt-0">
    <div class="announcements-navigation container pt-4" id="announcements">
        <h2>Категорії</h2>
        <div class="row g-4 announcements-navigation justify-content-md-center">
            <div class="col-md-4">
                <a #articlesNav class="btn btn-custom border-custom-light w-100" routerLink="articles"
                    (click)="onMentalSupportNavButtonToggle($event)">
                    <i class="fa-solid fa-file-pen"></i> Статті
                </a>
            </div>
            <div class="col-md-4">
                <a #psychologistContactsNav class="btn btn-custom border-custom-light w-100" routerLink="specialists-infos"
                    (click)="onMentalSupportNavButtonToggle($event)">
                    <i class="fa-solid fa-address-book"></i> Контакти спеціалістів
                </a>
            </div>
        </div>
    </div>
</div>
<hr/>
<div class="container">
    <router-outlet></router-outlet>
</div>