<div class="container py-5">
    <div class="text-center mb-5">
        <h1 class="text-custom-lightest">Ласкаво просимо до Refuge UA</h1>
        <p class="text-custom-light">Платформа підтримки та можливостей для ВПО та ветеранів</p>
    </div>

    <div class="row g-4">
        <div class="col-md-4">
            <div class="card bg-custom-darker shadow-sm p-3 h-100">
                <h5 class="card-title text-custom-lightest">Пошук житла</h5>
                <p class="card-text text-custom-light h-100">Допомагаємо знайти тимчасове або постійне житло для переселенців.
                </p>
                <a routerLink="/announcements/accomodation" class="btn btn-custom border-custom-light">Переглянути</a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card bg-custom-darker shadow-sm p-3 h-100">
                <h5 class="card-title text-custom-lightest">Пошук роботи</h5>
                <p class="card-text text-custom-light h-100">Шукайте вакансії за спеціальністю або нові можливості для
                    працевлаштування.</p>
                <a routerLink="/announcements/work" class="btn btn-custom border-custom-light">Переглянути</a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card bg-custom-darker shadow-sm p-3 h-100">
                <h5 class="card-title text-custom-lightest">Освітні курси</h5>
                <p class="card-text text-custom-light h-100">Отримайте доступ до безкоштовних курсів та програм
                    перекваліфікації.</p>
                <a routerLink="/announcements/education" class="btn btn-custom border-custom-light">Переглянути</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-custom-darker shadow-sm p-3 h-100">
                <h5 class="card-title text-custom-lightest">Волонтерські події</h5>
                <p class="card-text text-custom-light h-100">Знаходьте та беріте участь у волонтерських подіях для підтримки
                    військових.</p>
                <a routerLink="/volunteer/events" class="btn btn-custom border-custom-light">Переглянути</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-custom-darker shadow-sm p-3 h-100">
                <h5 class="card-title text-custom-lightest">Статті з психологічної допомоги.</h5>
                <p class="card-text text-custom-light h-100">Перегляньте статті з психологічної підтримки.</p>
                <a routerLink="/mental-support/articles" class="btn btn-custom border-custom-light">Переглянути</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-custom-darker shadow-sm p-3 h-100">
                <h5 class="card-title text-custom-lightest">Контакти спеціалістів-психологів.</h5>
                <p class="card-text text-custom-light h-100">Переглянте контакти спеціалісті для отримання психологічної допомоги та консультації.</p>
                <a routerLink="/mental-support/specialists-infos" class="btn btn-custom border-custom-light">Переглянути</a>
            </div>
        </div>
    </div>
</div>