<div class="row m-2">
    <app-search-bar class="mb-4" placeholder="Заголовок..."
        [onSearchBarSearch]="this.getOnSearchBarCallback()"></app-search-bar>
    @if(this.authService.authSubject.value && this.authService.userClaims.role != Roles.MilitaryOrFamily)
    {
    <div class="mb-4">
        <a routerLink="create" class="btn btn-custom-green"><strong>Створити оголошення про житло</strong></a>
    </div>
    }
    <div class="col-3">
        <form [formGroup]="this.announcementAccomodationSearchForm" class="d-flex flex-column w-100">
            <div class="form-group text-start">
                <label class="h5">Громада</label>
                <ul class="list-unstyled my-0 mx-2">
                    <li class="no-style d-flex flex-align-center mb-0 mt-2 gap-2">
                        <input type="text" class="form-control" placeholder="Громада" formControlName="district" />
                    </li>
                </ul>
            </div>
            <div class="form-group mt-2 text-start">
                <label class="h5">Група оголошень</label>
                <ul class="list-unstyled my-0 mx-2">
                    <li class="no-style d-flex flex-align-center mb-0 mt-2 gap-2">
                        <input type="text" class="form-control" placeholder="Група оголошень"
                            (focus)="this.onGroupsControlFocus()" (blur)="this.onGroupsControlBlur()"
                            formControlName="announcementGroup" />
                    </li>
                </ul>
                <div #groupsDropdown class="position-relative mx-2" style="z-index: 20;" style="display: none;"
                    id="groupsDropdown">
                    <div class="position-absolute bg-custom-darker w-100 scroll"
                        style="max-height: 400px;z-index: 20; overflow-y:scroll;">
                        @for (item of this.displayedGroups; track $index) {
                        <div class="p-2 dropdown-list-item" (mousedown)="this.onAnnouncementGroupChosen(item.name)">
                            {{item.name}}</div>
                        }
                    </div>
                </div>
            </div>
            <div class="form-group mt-2 text-start">
                <label class="h5">Оплата</label>
                <ul class="list-unstyled my-0 mx-2">
                    <li class="no-style d-flex flex-align-center mb-0 mt-2 gap-2">
                        <span class="mr-sm mt-2 option-nav-label">від</span>
                        <select class="form-control" formControlName="priceLower">
                            <option [ngValue]="null">будь-яка</option>
                            @for(item of this.currenltyAvailableAccomodationPricesLower; track $index)
                            {
                            <option [ngValue]="item.value">{{item.label}}</option>
                            }
                        </select>
                    </li>
                    <li class="no-style d-flex flex-align-center mb-0 mt-2 gap-2">
                        <span class="mr-sm mt-2 option-nav-label">до</span>
                        <select class="form-control" formControlName="priceUpper">
                            <option [ngValue]="null">будь-яка</option>
                            @for(item of this.currenltyAvailableAccomodationPricesUpper; track $index)
                            {
                            <option [ngValue]="item.value">{{item.label}}</option>
                            }
                        </select>
                    </li>
                    <li class="no-style d-flex flex-align-center mb-0 mt-2 gap-2">
                        <label class="custom-checkbox-container">
                            <input readonly style="width: 1.25rem; height: 1.25rem;" type="checkbox"
                                formControlName="isFreeOnly"
                                [checked]="announcementAccomodationSearchForm.value.isFreeOnly" class="mt-2" />
                            <span class="custom-checkbox"></span>
                            <span class="mr-sm mt-2 checkbox-label">Лише безплатно</span>
                        </label>
                    </li>
                </ul>
            </div>
            <div class="form-group mt-2 text-start">
                <label class="h5">Площа</label>
                <ul class="list-unstyled my-0 mx-2">
                    <li class="no-style d-flex flex-align-center mb-0 mt-2 gap-2">
                        <span class="mr-sm mt-2 option-nav-label">від</span>
                        <select class="form-control" formControlName="areaSqMetersLower">
                            <option [ngValue]="null">будь-яка</option>
                            @for (item of this.currentlyAvailableAreqSqMetersLower; track $index)
                            {
                            <option [ngValue]="item.value">{{item.label}}</option>
                            }
                        </select>
                    </li>
                    <li class="no-style d-flex flex-align-center mb-0 mt-2 gap-2">
                        <span class="mr-sm mt-2 option-nav-label">до</span>
                        <select class="form-control" formControlName="areaSqMetersUpper">
                            <option [ngValue]="null">будь-яка</option>
                            @for (item of this.currentlyAvailableAreqSqMetersUpper; track $index)
                            {
                            <option [ngValue]="item.value">{{item.label}}</option>
                            }
                        </select>
                    </li>
                </ul>
            </div>
            <div class="form-group mt-2 text-start">
                <label class="h5">Загальне</label>
                <ul class="list-unstyled my-0 mx-2">
                    <li class="no-style d-flex flex-align-center mb-0 mt-2 gap-2">
                        <span class="mr-sm mt-2 room-general-option-label">місткість</span>
                        <select class="form-control" formControlName="capacity">
                            <option [ngValue]="null">будь-яка</option>
                            @for (item of this.accomodationCapacity; track $index)
                            {
                            <option [ngValue]="item.capacity">{{item.label}}</option>
                            }
                        </select>
                    </li>
                    <li class="no-style d-flex flex-align-center mb-0 mt-2 gap-2">
                        <span class="mr-sm mt-2 room-general-option-label">поверхи</span>
                        <select class="form-control" formControlName="floors">
                            <option [ngValue]="null">будь-яка</option>
                            @for (item of this.accomodationFloors; track $index)
                            {
                            <option [ngValue]="item.floors">{{item.label}}</option>
                            }
                        </select>
                    </li>
                    <li class="no-style d-flex flex-align-center mb-0 mt-2 gap-2">
                        <span class="mr-sm mt-2 room-general-option-label">кімнати</span>
                        <select class="form-control" formControlName="numberOfRooms">
                            <option [ngValue]="null">будь-яка</option>
                            @for (item of this.accomodationRooms; track $index)
                            {
                            <option [ngValue]="item.rooms">{{item.label}}</option>
                            }
                        </select>
                    </li>
                </ul>
            </div>
            <div class="form-group mt-2 text-start">
                <label class="h5">Тип будівлі</label>
                <ul class="list-unstyled my-0 mx-2">
                    @for(item of this.displayedBuildingTypes; track item.id)
                    {
                    <li class="no-style d-flex flex-align-center mb-0 mt-2">
                        <label class="custom-checkbox-container">
                            <input style="width: 1.25rem; height: 1.25rem;" type="checkbox" [value]="item.id"
                                [checked]="this.isBuildingTypeSelected(item.id)"
                                (change)="this.onBuildingTypeCheckboxChanged($event)" class="mt-2" />
                            <span class="custom-checkbox"></span>
                            <span class="mr-sm mt-2 checkbox-label">{{item.name}}</span>
                        </label>
                    </li>
                    }
                </ul>
            </div>
            <div class="form-group mt-2 text-start">
                <label class="h5">Інше</label>
                <ul class="list-unstyled my-0 mx-2">
                    <li class="no-style d-flex flex-align-center mb-0 mt-2 gap-2">
                        <label class="custom-checkbox-container">
                            <input readonly style="width: 1.25rem; height: 1.25rem;" type="checkbox"
                                formControlName="petsAllowed"
                                [checked]="this.announcementAccomodationSearchForm.value.petsAllowed" class="mt-2" />
                            <span class="custom-checkbox"></span>
                            <span class="mr-sm mt-2 checkbox-label">Дозволено домашні улюбленці</span>
                        </label>
                    </li>
                </ul>
            </div>
        </form>
    </div>
    <div class="col-9 d-flex flex-column gap-4 mt-1">
        @if(this.announcementsLoaded)
        {
        @if(!this.announcementsFound)
        {
        <span class="error-display">Не було знайдено оголошення!</span>
        }
        @else {
        @for (item of this.currentAccomodationAnnouncements; track $index) {
        <app-announcement-accomodation-preview
            [accomodationAnnouncement]="item"></app-announcement-accomodation-preview>
        }
        <app-paging-navigation [pagesCount]="this.pages" [onNavigationCallback]="getNavigationCallback()"
            [currentPage]="this.currentPage"></app-paging-navigation>
        }
        }
        @else {
        <img src="assets/gif/loading.gif" width="75em" style="margin-left: auto; margin-right: auto;">
        }
    </div>
</div>