@if(this.educationAnnouncement)
{
<div class="container">
    @if(this.isAuthenticated && this.isAllowedToEdit)
    {
    <div class="d-flex gap-4 pb-4 pt-2">
        <a class="btn btn-custom" [routerLink]="['/announcements', this.educationAnnouncement.id, 'responses']">
            <i class="fa-solid fa-eye"></i>
            Переглянути відгуки
        </a>
        <a [routerLink]='["/announcements", "education" , this.educationAnnouncement.id, "edit"]'
            class="btn btn-custom">
            <i class="fa-solid fa-pen"></i>
            Редагувати
        </a>
        <a [routerLink]="['/announcements', 'education', this.educationAnnouncement.id, 'groups']"
            class="btn btn-custom">
            <i class="fa-solid fa-tag"></i>
            Переглянути групи
        </a>
        @if(!this.educationAnnouncement.isClosed)
        {
        <button class="btn btn-custom" (click)="this.onClosed()">
            <i class="fa-solid fa-lock"></i>
            Закрити оголошення
        </button>
        }
        @else{
        <button class="btn btn-custom" (click)="this.onOpen()">
            <i class="fa-solid fa-lock-open"></i>
            Відкрити оголошення
        </button>
        }
        <button class="btn btn-custom-danger" (click)="this.onDelete()">
            <i class="fa-solid fa-trash-can"></i>
            Видалити
        </button>
        <div #deletionConfirmation style="display: none;" class="justify-content-between gap-2">
            <span class="align-middle pt-2">Ви впевнені?</span>
            <button class="btn btn-custom-green" (click)="confirmDeletion()">Так</button>
            <button class="btn btn-custom-danger" (click)="cancelDeletion()">Ні</button>
        </div>
    </div>
    }
    <div class="pb-4 d-flex justify-content-between">
        <div>
            <h2 class="text-custom-pale-yellow text-start">{{ educationAnnouncement.title }}</h2>
            <h3 class="text-muted text-custom-pale-yellow text-start">
                {{ educationAnnouncement.educationType }}
                <span *ngIf="educationAnnouncement.institutionName" class="text-custom-pale-yellow">, <strong>{{
                        educationAnnouncement.institutionName }}</strong></span>
            </h3>
            <div *ngIf="educationAnnouncement.fee" class="text-start">
                <span class="fs-3 text-start text-custom-yellow">
                    <strong>
                        @if(educationAnnouncement.fee)
                        {
                        Оплата: {{educationAnnouncement.fee}} UAH <i class="fa-solid fa-hryvnia"></i>
                        }
                        @else {
                        Безплатно
                        }

                    </strong>
                </span>
            </div>
        </div>
        <div class="d-flex flex-column text-end pt-1">
            <span class="lh-lg fw-normal text-start fs-5 text-custom-pale-yellow"><strong>Створена: {{
                    educationAnnouncement.createdAt | date: 'longDate' }}</strong></span>
        </div>
    </div>
    <h3 class="text-start text-custom-pale-yellow">Опис</h3>
    <div class="pb-4">
        <app-content paragraphClass="lh-lg fw-normal text-start fs-5"
            [content]="this.educationAnnouncement.content || ''"></app-content>
    </div>
    @if(this.educationAnnouncement.duration)
    {
    <h3 class="text-start text-custom-pale-yellow">Тривалість</h3>
    <div class="pb-4 ">
        <p class="lh-lg fw-normal text-start fs-5">{{educationAnnouncement.duration }} днів</p>
    </div>
    }
    <h3 class="text-start text-custom-pale-yellow">Для груп людей</h3>
    <div class="pb-4 ms-3">
        <ul>
            @for (item of this.educationAnnouncement.targetGroups; track $index) {
            <li class="lh-lg fw-normal text-start fs-5">
                {{item}}
            </li>
            }
        </ul>
    </div>
    <app-contact-information
        [contactInformation]="this.educationAnnouncement.contactInformation!"></app-contact-information>

    @if(this.educationAnnouncement.address)
    {
    <app-address-detail [address]="this.educationAnnouncement.address!"></app-address-detail>
    }

    <app-announcement-detail-acceptence [announcement]="this.educationAnnouncement"
        [isAuthenticated]="this.isAuthenticated" [isAllowedToEdit]="this.isAllowedToEdit">
    </app-announcement-detail-acceptence>
    
    @if(this.authService.authSubject.value && this.authService.userClaims.role == Roles.MilitaryOrFamily)
    {
    <div>
        <app-response-create [announcementId]="this.educationAnnouncement.id || 0"></app-response-create>
    </div>
    }
</div>
}
@else {
@if(isDeleted)
{
<div class="bg-custom-pale-green text-custom-lightest p-3 fw-normal fs-4 form-success-display">
    Оголошення видалено!
</div>
}
@else{
<img src="assets/gif/loading.gif" width="100em" style="margin-left: auto; margin-right: auto;">
}
}