<div class="d-flex justify-content-center gap-2">
    <a class="btn btn-custom px-2.5" routerLink="/profile">
        <i class="fa-solid fa-user fs-5 me-2"></i>Мій профіль
    </a>
    <a class="btn btn-custom px-2.5" routerLink="/volunteer/groups/followed">
        <i class="fa-solid fa-people-group fs-5 me-2"></i>Мої групи
    </a>
    <a class="btn btn-custom px-2.5" routerLink="/announcements/mine">
        <i class="fa-solid fa-bullhorn fs-5 me-2"></i>Мої оголошення
    </a>
    <a class="btn btn-custom px-2.5" routerLink="/volunteer/events/mine">
        <i class="fa-solid fa-hourglass-half fs-5 me-2"></i>Мої створені події
    </a>
    <a class="btn btn-custom px-2.5" routerLink="/volunteer/events/participated">
        <i class="fa-solid fa-hourglass-half fs-5 me-2"></i>Мої події
    </a>
</div>